# Miner Verification Requirements

## 1. Proper Installation

Make sure to follow the detailed instructions provided in our quick start guide for installation. You can find the guide [here](4-installation.md).

## 2. Blackbird Registration

It is crucial to complete all the steps for Blackbird registration. For detailed instructions, please refer to our quick start guide [here](5-registration.md).

## 3. Online status

Log in to the dashboard, navigate to the left menu, then go to Gateways. From there, choose the gateway you want by clicking on it. Once you see a green lightning symbol at the top left corner, it indicates that your miner is online. Furthermore, ensure that your miner is actively transmitting and receiving packets, as shown in the provided illustration.

![](../../.gitbook/assets/gw_online.png)

## 4. Connect a LoRaWAN Device

Ensure that at least one LoRaWAN device is connected to the network through the miner and successfully sending events to the dashboard. To add Dragino door sensor LDS02, included in the package, follow the [link](6-adding-device.md).

When you tap on an event in the device log, you'll find detailed technical information that was received from your device. This includes the name of the miner that processed that specific event (gateway parameter).

![](../../.gitbook/assets/device_online.png)

## 5. Connect a Reward Wallet

For receive the rewards connect your Sui wallet to Chirp platform. You can find it at Billing -> Rewards wallet page. You can find the guide [here](../../chirp-network/rewards/sui_wallet.md).

![](../../.gitbook/assets/wallet.png)
